<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5"
	data-provider-thread-count="20">
	<test name="Test1">
		<classes>
			<class name="com.xiaosu.testng.TestClass1"></class>
		</classes>
	</test>
</suite> 
